@import "../variables.sass"

.settings
  &__userInfo
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

    margin-left: 30px

    @media (max-width: 900px)
      width: 90%
      margin-left: 0

    &__header
      font-style: italic
      font-size: 0.9em
      color: var(--accent-one)

      margin: 20px 0 10px 0

      width: 90%

      @media (max-width: 900px)
        margin: 0

      span
        color: var(--gold)

    label
      font-style: italic
      font-size: 0.9em
      color: var(--accent-one)

      align-self: flex-start
      margin-left: 30px

      @media (max-width: 900px)
        margin-left: 3vw

    &__form
      &__field
        @include settings_formfield

        @media(max-width: 900px)
          width: 60vw

        &.email
          background: var(--selected)
          color: var(--primary-two)

          &:hover
            color: var(--primary-two)

        @media (max-width: 700px)
          font-size: 1em

        &:hover
          background: var(--selected)
          color: #fff

    &__submitbtn
      @include settings_btn
      width: 90%
      margin-left: 0
